body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:681px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:681px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:92px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:183px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:141px;
  width:41px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:380px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:183px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:141px;
  width:41px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:130px;
  width:138px;
  height:36px;
}
#u72_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
